name: K8s Lint

on:
  push:
    branches: [feature/*]
  pull_request:
    branches: [master]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate dev overlay
        run: kustomize build overlays/dev
      - name: Validate prod overlay
        run: kustomize build overlays/prod

