name: K8s Lint + Security Checks

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Checkout
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # pour que TruffleHog scanne tout l'historique

      # 2️⃣ Lint Kustomize overlays dev/prod
      - name: Validate dev overlay
        run: kustomize build overlays/dev

      - name: Validate prod overlay
        run: kustomize build overlays/prod

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: 'docker.io/nginx:1.23'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          
      # 5️⃣ Scanner les secrets du repo avec TruffleHog
      - name: Scan repo for secrets
        uses: trufflesecurity/trufflehog@main
        with:
          path: .

